<!DOCTYPE html>
<html>
<body>
<h1>Welcome, <%= @user.full_name %>!</h1>

<p>
  Limeo: Learn Fresh, Learn Fast.<br />
</p>
<p>
  Please verify your email address by clicking the link below:
</p>
<p>
  <a href="<%= @verification_link %>">Verify Email</a>
</p>
<p>Thank you for registering!</p>
</body>
</html>
